[Desktop Entry]
Name=swwwv
Comment=Simple GTK4 Image Viewer with swww wallpaper support
Exec=/usr/bin/swwwv %F
Icon=multimedia-photo-viewer
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/jpg;image/bmp;image/gif;
StartupNotify=true

